@using OnlineTicariOtomasyonMvc.Models.Siniflar
@model List<Personel>  
@{
    ViewBag.Title = "DetailsDepartman";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Departman Detay Sayfası</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı : @ViewBag.d</li>

</ol>
<br />
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var item in Model)
    {

    <tr>
        <td>@item.PersonelID</td>
        <td>@item.PersonelAd</td>
        <td>@item.PersonelSoyad</td>
        <td>@item.PersonelGorsel</td>
        <td><a href="/Departman/DepartmanPersonelSale/@item.PersonelID" class="btn " style="background-color:blueviolet;color:white;">Satışlar</a></td>

    </tr>
    }
</table>

